body{
    background-image: url(mac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container { 
    
    /*background-color: coral; */
    /*background: linear-gradient(to right ,#00ccff,#b3f0ff); Chrome and takes two values to right, life, top and bottom
    box-shadow: 3px 5px 3px black; */
}

h1 {
    color:#ffffff; /* hex code for the color */
    text-shadow: 2px 2px 5px black; /*vertical to horz, blur, color,  */
}

h2 {
    
    color: rgb(0,204,255);
    text-shadow: 1px 1px 3px darkblue; 
    
}

.borderImg{
    border: 2px solid white;
}

ul li{ /*descendant selector - this garbbing un-order list all of the "li" */
    
    color:aqua;
    font-size: 20px;
}
ul > li { /*only one level deep */
    
    color: yellow;   
}

/* css grouping

